@model EcommercePortalClient.Models.ViewModels.WishlistViewModel

@{
    ViewData["Title"] = "AddToWishlist";
}

<h1>AddToWishlist</h1>

<h4>The Product is out of stock would you like to add to wishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToWishlist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add To Wishlist" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
